[submodule "GitRebaseFlower/GitRebaseFlower/Submodules/octokit.objc"]
	path = GitRebaseFlower/GitRebaseFlower/Submodules/octokit.objc
	url = git@github.com:octokit/octokit.objc.git
[submodule "GitRebaseFlower/octokit.objc"]
	path = GitRebaseFlower/octokit.objc
	url = https://github.com/octokit/octokit.objc.git
